<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
}
header,
footer {
    width: 100%;
    height: 120px;
    background-color: blue;
    color: white;
}
h1,
h2 {
    text-align: center;
}
img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    padding-left: 40px;
    font-size: 20px;
}
p {
    text-align: center;
    font-size: 30px;
  }
  
=======

>>>>>>> 8c31ebaf9fff0a26374edbf18c429253436cec2c
